{% extends '::base.html.twig' %}

{% block body %}
    {% if entities|length == 0 %}
        <div class="col-lg-12 text-center">{{ 'No book were added before'|trans }}</div>
    {% else %}
        <div class="col-lg-12">
            {% for key, entity in entities %}
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{{ 'Book'|trans }} {{ '&laquo;'|raw }}{{ entity.title }}{{ '&raquo;'|raw }}</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>{{ 'Author'|trans }}</th>
                                        <td>{{ entity.author }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Year'|trans }}</th>
                                        <td>{{ entity.year }}</td>
                                    </tr>
                                    {% if entity.city is defined or entity.ageAuthor is defined %}
                                        {% set edit_url = 'book_with_publishing_edit' %}
                                        {% set show_url = 'book_with_publishing_show' %}
                                        {% set type = 'firstPublishing' %}
                                        <tr>
                                            <th>{{ 'Publishing'|trans }}</th>
                                            <td>{{ 'First publishing'|trans }}</td>
                                        </tr>
                                    {% elseif entity.countPages is defined or entity.email is defined or entity.telephone is defined %}
                                        {% set edit_url = 'book_with_publishing_edit' %}
                                        {% set show_url = 'book_with_publishing_show' %}
                                        {% set type = 'secondPublishing' %}
                                        <tr>
                                            <th>{{ 'Publishing'|trans }}</th>
                                            <td>{{ 'Second publishing'|trans }}</td>
                                        </tr>
                                    {% else %}
                                        {% set edit_url = 'book_edit' %}
                                        {% set show_url = 'book_show' %}
                                        {% set type = null %}
                                    {% endif %}
                                    {% if entity.city is defined %}
                                        <tr>
                                            <th>{{ 'City'|trans }}</th>
                                            <td>{{ entity.city }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if entity.ageAuthor is defined %}
                                        <tr>
                                            <th>{{ 'Age author'|trans }}</th>
                                            <td>{{ entity.ageAuthor }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if entity.countPages is defined %}
                                        <tr>
                                            <th>{{ 'Count of pages'|trans }}</th>
                                            <td>{{ entity.countPages }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if entity.email is defined %}
                                        <tr>
                                            <th>{{ 'Email'|trans }}</th>
                                            <td>{{ entity.email }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if entity.telephone is defined %}
                                        <tr>
                                            <th>{{ 'Phone number'|trans }}</th>
                                            <td>{{ entity.telephone }}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <a class="pull-left btn btn-primary col-lg-3" href="{{ path(show_url, {'id': entity.id, 'type': type}) }}">{{ 'View'|trans }}</a>
                            <a class="col-lg-offset-1 col-lg-4 btn btn-success" href="{{ path(edit_url, {'id': entity.id, 'type': type}) }}">{{ 'Edit'|trans }}</a>
                            <form name="form" method="post" action="{{ path('book_delete', {'id': entity.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <div id="form">
                                    <button type="submit" id="form_submit" name="form[submit]" class="btn btn-danger col-lg-offset-1">{{ 'Delete'|trans }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if key % 3 == 2 %}
                    </div><div class="col-lg-12">
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
