<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href={{ asset('bundles/booksmain/bootstrap/css/bootstrap.css') }} rel="stylesheet" type="text/css" media="all" />
            <link href={{ asset('bundles/booksmain/css/style.css') }} rel="stylesheet" type="text/css" media="all" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('book.ico') }}" />
    </head>
    <body>
        <header class="header">
            {% block header %}{% include 'BooksMainBundle:MainBlocks:header.html.twig' %}{% endblock %}
        </header>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-lg-12">
                    <div class="col-lg-offset-1 col-lg-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            {% block footer %}{% include 'BooksMainBundle:MainBlocks:footer.html.twig' %}{% endblock %}
        </footer>
        {% block javascripts %}
            <script src={{ asset('bundles/booksmain/jquery/jquery.min.js') }}></script>
            <script src={{ asset('bundles/booksmain/bootstrap/js/bootstrap.min.js') }}></script>
        {% endblock %}
    </body>
</html>
