<nav class="navbar navbar-default" role="navigation">
    <div class="container-flyid">
        <div class="col-lg-1"></div>
        <ul class="nav navbar-nav">
            {% block mainMenu %}
                <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                    <a class="home" href="{{ path('homepage') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        {{ 'Library of book'|trans }}
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'book_new' %}active{% endif %}">
                    <a class="add-book" href="{{ path('book_new') }}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        {{ 'Add new book'|trans }}
                    </a>
                </li>
            {% endblock %}
        </ul>
    </div>
</nav>
