{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-7">
        {{ form_start(edit_form) }}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Edit book'|trans }}</h3>
            </div>
            <div class="panel-body">
                <div class="input-lg">{{ form_row(edit_form.title) }}</div>
                <div class="input-lg">{{ form_row(edit_form.author) }}</div>
                <div class="input-lg">{{ form_row(edit_form.year) }}</div>
                {% if type == 'firstPublishing' %}
                    <div class="input-lg">{{ form_row(edit_form.city) }}</div>
                    <div class="input-lg">{{ form_row(edit_form.ageAuthor) }}</div>
                {% endif %}
                {% if type == 'secondPublishing' %}
                    <div class="input-lg">{{ form_row(edit_form.countPages) }}</div>
                    <div class="input-lg">{{ form_row(edit_form.email) }}</div>
                    <div class="input-lg">{{ form_row(edit_form.telephone) }}</div>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a class="col-lg-3 btn btn-primary" href="{{ path('homepage') }}">{{ 'View all books'|trans }}</a>
                <div class="col-lg-offset-2 col-lg-3">{{ form_widget(edit_form.submit) }}</div>
                {{ form_end(edit_form) }}
                {{ form(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
