{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-7">
        {{ form_start(form) }}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add new book'|trans }}</h3>
            </div>
            <div class="panel-body">
                <div class="input-lg">{{ form_row(form.title) }}</div>
                <div class="input-lg">{{ form_row(form.author) }}</div>
                <div class="input-lg">{{ form_row(form.year) }}</div>
                {% if form.choicePublishing is defined %}
                    <div class="input-lg">{{ form_row(form.choicePublishing) }}</div>
                {% endif %}
                {% if form.firstPublishing is defined %}
                    {{ form_row(form.firstPublishing) }}
                {% endif %}
                {% if form.secondPublishing is defined %}
                    {{ form_row(form.secondPublishing) }}
                {% endif %}
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" href="{{ path('homepage') }}">{{ 'View all books'|trans }}</a>
                <div class="pull-right">{{ form_widget(form.submit) }}</div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {

            // check that both publishers available
            if ($(".choice-publishing option").length > 2) {
                $(".choice-publishing").change(function() {
                    // got selected publishing option
                    var choosenOption = $(this).val()
                    $(this).parents().find($(".publishing")).each(function() {

                        // find and show needed publishing form
                        if ($(this).hasClass(choosenOption))
                            $(this).removeClass("hidden")
                        else
                            $(this).addClass("hidden")
                    })
                })
            }
        })
    </script>
{% endblock %}