{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Publishing'|trans }} {{ '&laquo;'|raw }}{{ entity.title }}{{ '&raquo;'|raw }}</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ 'Author'|trans }}</th>
                            <td>{{ entity.author }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Year'|trans }}</th>
                            <td>{{ entity.year }}</td>
                        </tr>
                        {% if publishing is not empty %}
                            <tr>
                                <th>{{ 'Publishing'|trans }}</th>
                                <td>{{ publishing|trans }}</td>
                            </tr>
                        {% endif %}
                        {% if type == 'firstPublishing' %}
                            <tr>
                                <th>{{ 'City'|trans }}</th>
                                <td>{{ entity.city }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Age author'|trans }}</th>
                                <td>{{ entity.ageAuthor }}</td>
                            </tr>
                        {% endif %}
                        {% if type == 'secondPublishing' %}
                            <tr>
                                <th>{{ 'Count of pages'|trans }}</th>
                                <td>{{ entity.countPages }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Email'|trans }}</th>
                                <td>{{ entity.email }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Phone number'|trans }}</th>
                                <td>{{ entity.telephone }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a class="col-lg-3 btn btn-primary" href="{{ path('homepage') }}">{{ 'View all books'|trans }}</a>
                <a class="col-lg-offset-2 col-lg-3 btn btn-success" href="{{ path(edit_url, {'id': entity.id, 'type': type}) }}">{{ 'Edit'|trans }}</a>
                {{ form(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
